.content {
    width: calc(100% - 221px);
    height: calc(100vh - 61px);
    background-color: #fff;
    position: absolute;
    top: 61px;
    left: 221px;
}
    /*Page title*/
    .content .header-content {
        padding: 16px;
        background: #fff;
        display:flex;
        align-items:center;
        justify-content:space-between;
    }
        .content .header-content .title {
            font-size: 20px;
            font-weight: bold;
        }
        .content .header-content .page-feature{
            position:absolute;
            right:16px;
        }


    /*Paging bar*/
    .content .paging-bar {
        width: 100%;
        height: 56px;
        background-color: #fafafa;
        padding: 0px 16px;
        box-sizing: border-box;
        display: flex;
         align-items:center;
        justify-content: space-between;
    }
