/**
    Dialog employee
*/
.isHide{
    display: none;
  }
/**
    Dialog employee
*/
.m-dialog {
    height: 100%;
    width: 100%;
    /* display: none; */
}

    .m-dialog .dialog-modal {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #000;
        opacity: .4;
        z-index: 4;
    }

    .m-dialog .dialog-content {
        width: 840px;
        height: 780px;
        z-index: 10;
    }

/*
    Dialog header
*/
.dialog-content .dialog-header {
    padding: 24px 24px 0px 24px;
    display: flex;
}

    .dialog-content .dialog-header .dialog-header-title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

/*
    Dialog body
*/
.dialog-content .dialog-body {
    padding: 0px 24px;
    display: flex;
    flex-direction: row;
}

.dialog-body .dialog-body-contain {
    display: flex;
}

.upload-photo {
    text-align: center;
    width: 220px;
    margin-top: 16px;
    margin-right: 30px;
}

.upload-contain {
    width: 180px;
    height: 180px;
    background-image: url('../../assets/img/default-avatar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #b5b3b3;
    border-radius: 50%;
}

    .upload-contain #photo {
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

.border-red {
    border: 1px solid red;
}


/**
    Phần nhập liệu
*/
.upload-infor {
    width: 540px;
    display: flex;
    flex-direction: column;
}

    .upload-infor .title {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .upload-infor .infor-title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 3px;
    }

    .upload-infor .border-bottom-title {
        width: 70px;
        height: 5px;
        background-color: #019160;
    }

.required-red {
    color: red;
}

.dialog-control {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

    .dialog-control .m-row {
        margin-top: 16px;
    }

            .dialog-control .m-row .control-input input {
                width: 220px;
                height: 13px;
            }

            .dialog-control .m-row .control-input select {
                width: 254px;
                height: 35px;
                border: 1px solid #ccc;
                border-radius: 4px;
                
            }

        .dialog-control .m-row .control-title {
            margin-bottom: 4px;
            font-size: 14px;
        }


/**
    Phần footer dialog
*/



.dialog-footer button {
    width: 100px;
}

.dialog-footer .footer-right {
    display: flex;
}

    .dialog-footer .footer-right .btn-cancel {
        margin-right: 10px;
        color: #000;
    }

        .dialog-footer .footer-right .btn-cancel span {
            width: 100%;
            text-align: center;
        }

#btn-delete-employee {
    visibility: hidden;
}

#txtSalary {
    text-align: right;
}
