.grid {
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
}

table th, td {
    max-width: 200px;
    border-bottom: 1px solid #bbb;
    padding: 10px 16px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table tr:hover {
    background-color: #e0e4e3;
}

.grid-customer {
    overflow-y: scroll;
}

    .grid-customer th {
        position: sticky;
        top: 0;
        background-color: #ffffff;
    }

    .grid-customer table {
        border-collapse: collapse;
    }

